snippet skel
	/**
	 * ${1:Description}
	 */
	class HelloWorldApp {

		public static void main(String[] args) {

			${2}
		}
	}
snippet \p
	System.out.println('${1}');
# Comments
snippet \cc
	/* ${1} */
snippet \cs
	/**
	 * ${1}
	 */
