snippet skel
	[Event "${1:??}"]
	[Site "${2:City, Region Country}"]
	[Date "${3:`strftime("%Y.%m.%d")`}"]
	[Round "${4:??}"]
	[White "${5:Dimitrov, Dimitar}"]
	[Black "${6:Dimitrov, Dimitar}"]
	[Result "${7:1/2-1/2}"]

	1. ${8}
