snippet skel
	<?xml version="1.0" encoding="utf-8"?>

	<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="${1:root}">

		${2}
	</xs:element>

	</xs:schema>
# Comments
snippet \cc
	<!-- ${1} -->
snippet \cs
	<!--
	   - ${1}
	   -->
