snippet skel
#! /usr/bin/gawk --file

function ${1:name} (${2:param1}, ${3:param2}, ${4:local var1}, ${5:local var2})
\{
}

BEGIN \{

   if (ARGV[1] !~ /$6/)
   \{
      print "Usage: $7"
      exit
   }

   # Field separator
   FS="~"
}

\{
   # Number of fields: only parse records containing data
   if (NF != 0)
   \{
      /${8:pattern1}/ {${9:actions}}
      /${10:pattern2}/ {${11:actions}}
   }
}

END {$12}
endsnippet
