snippet #
#include <stdio.h>

int main()
{
   $1
   return 0;
}
endsnippet

snippet ##
#include <stdio.h>

int main (int argc, char* argv[])
{
   $1
   return 0;
}
endsnippet

snippet doc
char ${1:msg}[] =
   "$2\n"
   "$3";
endsnippet

# printf
snippet p
printf("$1\n");
endsnippet

snippet pf
printf("$1%\n", $2);
endsnippet

snippet 'read|sf' "Read" r
scanf("%${1:s}", $2);
endsnippet
