snippet #
---
- hosts: localhost
  tasks:

  - name: $1
endsnippet

snippet 'debug|msg|print' "Debug in task" r
- name: Test $1
  debug:
    msg: "$2"
endsnippet

snippet 'debug|msg|print' "Debug alone" r
- debug:
    var: $1
endsnippet
