.*~
*~
**/.*~
**/*~
.*.swp
*.swp
**/.*.swp
**/*.swp
.*.stackdump
*.stackdump
**/.*.stackdump
**/*.stackdump
tags
**/tags
bundle/vim-blanklines/
bundle/vim-blockinsert/
bundle/vim-quotes/
bundle/vim-sequence/
bundle/vim-swap/
bundle/csapprox/
bundle/nerdcommenter/
bundle/tabular/
autoload/pathogen.vim
bundle/vim-pathogen/
bundle/vim-abolish/
bundle/vim-endwise/
bundle/vim-flatfoot/
bundle/vim-ragtag/
bundle/vim-repeat/
bundle/vim-space/
bundle/vim-surround/
bundle/vim-unimpaired/
