.*~
*~
**/.*~
**/*~
.*.swp
*.swp
**/.*.swp
**/*.swp
.*.stackdump
*.stackdump
**/.*.stackdump
**/*.stackdump
tags
**/tags
autoload/pathogen.vim
bundle/vim-blanklines/
bundle/vim-blockinsert/
bundle/vim-quotes/
bundle/vim-sequence/
bundle/vim-swap/
bundle/tablify/
bundle/vim-flatfoot/
bundle/vim-fugitive/
bundle/vim-space/
