[submodule ".bundle/blanklines"]
   path = .bundle/blanklines
   url = git@github.com:kurkale6ka/vim-blanklines.git
   ignore = dirty
[submodule ".bundle/blockinsert"]
   path = .bundle/blockinsert
   url = git@github.com:kurkale6ka/vim-blockinsert.git
   ignore = dirty
[submodule ".bundle/chess"]
   path = .bundle/chess
   url = git@github.com:kurkale6ka/vim-chess.git
   ignore = dirty
[submodule ".bundle/desertEX"]
   path = .bundle/desertEX
   url = git@github.com:kurkale6ka/vim-desertEX.git
   ignore = dirty
[submodule ".bundle/pairs"]
   path = .bundle/pairs
   url = git@github.com:kurkale6ka/vim-pairs.git
   ignore = dirty
[submodule ".bundle/swap"]
   path = .bundle/swap
   url = git@github.com:kurkale6ka/vim-swap.git
   ignore = dirty
[submodule "bundle/surround"]
   path = bundle/surround
   url = git://github.com/tpope/vim-surround.git
   ignore = dirty
[submodule "bundle/abolish"]
   path = bundle/abolish
   url = git://github.com/tpope/vim-abolish.git
   ignore = dirty
[submodule "bundle/endwise"]
   path = bundle/endwise
   url = git://github.com/tpope/vim-endwise.git
   ignore = dirty
[submodule "bundle/ragtag"]
   path = bundle/ragtag
   url = git://github.com/tpope/vim-ragtag.git
   ignore = dirty
[submodule "bundle/repeat"]
   path = bundle/repeat
   url = git://github.com/tpope/vim-repeat.git
   ignore = dirty
[submodule "bundle/unimpaired"]
   path = bundle/unimpaired
   url = git://github.com/tpope/vim-unimpaired.git
   ignore = dirty
[submodule "bundle/tabular"]
   path = bundle/tabular
   url = git://github.com/godlygeek/tabular.git
   ignore = dirty
[submodule "bundle/csapprox"]
   path = bundle/csapprox
   url = git://github.com/godlygeek/csapprox.git
   ignore = dirty
[submodule "bundle/pathogen"]
   path = bundle/pathogen
   url = git://github.com/tpope/vim-pathogen.git
   ignore = dirty
[submodule "bundle/puppet"]
   path = bundle/puppet
   url = git://github.com/rodjek/vim-puppet.git
   ignore = dirty
[submodule "bundle/bufkill"]
   path = bundle/bufkill
   url = git://github.com/vim-scripts/bufkill.vim.git
   ignore = dirty
[submodule "bundle/MarkLines"]
   path = bundle/MarkLines
   url = git://github.com/vim-scripts/MarkLines.git
   ignore = dirty
[submodule "bundle/UltiSnips"]
   path = bundle/UltiSnips
   url = git://github.com/SirVer/ultisnips.git
   ignore = dirty
[submodule "bundle/markdown"]
   path = bundle/markdown
   url = git://github.com/tpope/vim-markdown.git
   ignore = dirty
[submodule "bundle/json"]
   path = bundle/json
   url = https://github.com/elzr/vim-json.git
   ignore = dirty
[submodule "bundle/fzf"]
   path = bundle/fzf
   url = git@github.com:junegunn/fzf.vim.git
   ignore = dirty
[submodule "bundle/cursor"]
	path = bundle/cursor
	url = git@github.com:jszakmeister/vim-togglecursor.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "bundle/neomake"]
	path = bundle/neomake
	url = git@github.com:neomake/neomake.git
[submodule "bundle/nvim-miniyank"]
	path = bundle/nvim-miniyank
	url = git@github.com:bfredl/nvim-miniyank.git
