.*~
*~
**/.*~
**/*~
.*.swp
*.swp
**/.*.swp
**/*.swp
.*.stackdump
*.stackdump
**/.*.stackdump
**/*.stackdump
tags
**/tags
bundle/vim-blanklines/
bundle/vim-blockinsert/
bundle/vim-quotes/
bundle/vim-sequence/
bundle/vim-swap/
