# Patterns for git only, not for rsync

# Ignore
.viminfo
.vimrc_after
pythonx
plugged/*
plugin/
autoload/plug.vim
spell/

# Allow
!plugged/bufgrep/
!plugged/unicodename/
!plugged/vsearch/
!plugged/win_full_screen/
