snippet #
:toc: left
:toc-title: $1

= ${2:Title}
endsnippet

snippet toc "levels"
:toclevels: ${1:3}
endsnippet

snippet table
|===
| ${1:header1} | ${2:header2}

| ${3:col1}
| ${4:col2}
|===
endsnippet

snippet code
[source,${1:python}]
....
$2
....
endsnippet
