snippet skel
/*
 * ${1:Description}
 */

#include <iostream>

using namespace std;

int main(int argc, char *argv[])
\{
   $2
   return 0;
}
endsnippet

snippet \p
cout << '$1' << endl;
endsnippet

# Comments
snippet \\
/* $1 */
endsnippet

snippet \cs
/*
 * $1
 */
endsnippet
