snippet skel
main = $1
endsnippet

snippet f
${1:function} :: $2 -> $3
endsnippet

snippet fun
${1:function} :: ($2 $3) => $3 -> $4
endsnippet

snippet p
putStrLn "$1"
endsnippet

snippet r
$$1 <- getLine
endsnippet

snippet [
[$1,$2,$3]
endsnippet
