snippet skel
/**
 * ${1:Description}
 */
class HelloWorldApp \{

   public static void main(String[] args) \{

      $2
   }
}
endsnippet

snippet \p
System.out.println('$1');
endsnippet

# Comments
snippet \\
/* $1 */
endsnippet

snippet \cs
/**
 * $1
 */
endsnippet
