# Hash bang using the env command
snippet #
#! /usr/bin/env ${1:ruby}
endsnippet

snippet skel
#! /usr/bin/env ruby

$1
endsnippet

snippet \p
puts '$1'
endsnippet

# Comments
snippet \cs
=begin
$1
=end
endsnippet
